<div class="container mt-5">
    <button class="btn btn-primary m-2"
            (click)="start()">
      Start 01
    </button>
    <button class="btn btn-danger"
            (click)="stop()">
      Stop 01
    </button>
  </div>
  
  <div class="container mt-5">
    <button class="btn btn-primary m-2"
            (click)="start2()">
      Start 02
    </button>
    <button class="btn btn-danger"
            (click)="stop2()">
      Stop 02
    </button>
  </div>
  
  <div class="container mt-5">
    <button class="btn btn-primary"
            #btn>
      From Event
    </button>
  </div>